* html .u0_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="1__Servicnyi_centr_files/u0_normal.png");
}

* html .u2_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="1__Servicnyi_centr_files/u2_normal.png");
}

* html .u10_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="1__Servicnyi_centr_files/u10_selected.png");
}

* html .u10_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="1__Servicnyi_centr_files/u10_normal.png");
}

* html .u24_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="1__Servicnyi_centr_files/u10_selected.png");
}

* html .u24_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="1__Servicnyi_centr_files/u10_normal.png");
}

* html .u41_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="1__Servicnyi_centr_files/u10_selected.png");
}

* html .u41_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="1__Servicnyi_centr_files/u10_normal.png");
}

* html .u53_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="1__Servicnyi_centr_files/u10_selected.png");
}

* html .u53_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="1__Servicnyi_centr_files/u10_normal.png");
}

* html .u67_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="1__Servicnyi_centr_files/u10_selected.png");
}

* html .u67_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="1__Servicnyi_centr_files/u10_normal.png");
}

* html .u84_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="1__Servicnyi_centr_files/u10_selected.png");
}

* html .u84_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="1__Servicnyi_centr_files/u10_normal.png");
}

* html .u105_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="1__Servicnyi_centr_files/u10_selected.png");
}

* html .u105_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="1__Servicnyi_centr_files/u10_normal.png");
}

* html .u119_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="1__Servicnyi_centr_files/u10_selected.png");
}

* html .u119_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="1__Servicnyi_centr_files/u10_normal.png");
}

* html .u136_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="1__Servicnyi_centr_files/u10_selected.png");
}

* html .u136_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="1__Servicnyi_centr_files/u10_normal.png");
}

* html .u145_menu {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="1__Servicnyi_centr_files/u145_menu.png");
}

* html .u151_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="1__Servicnyi_centr_files/u151_normal.png");
}

* html .u153_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="1__Servicnyi_centr_files/u153_normal.png");
}

* html .u156_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="1__Servicnyi_centr_files/u156_normal.png");
}

