body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: -7px;
    width: 1278px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../1_1_1_Zapchast_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:7px;
    top:-40px;
    width:1263px;
    height:1090px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1269px;
    height:1096px;
}

.u1 {
    position:absolute;
    left:2px;
    top:537px;
    width:1259px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../1_1_1_Zapchast_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:22px;
    top:933px;
    width:1263px;
    height:102px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1263px;
    height:102px;
}

.u3 {
    position:absolute;
    left:2px;
    top:43px;
    width:1259px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:65px;
    top:231px;
    width:605px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_menu {
    background-image: url('../1_1_1_Zapchast_files/u5_menu.png');
}

.u5_menu {
    position:absolute;
    left:63px;
    top:258px;
    width:342px;
    height:29px;
}

#u5_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:339px;
    height:26px;
}

#u6 {
    position:absolute;
    left:0px;
    top:0px;
    width:338px;
    height:25px
}

.u7_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u7_container {
    position:absolute;
    left:0px;
    top:0px;
    width:67px;
    height:20px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:73px;
    height:26px;
}

.u8 {
    position:absolute;
    left:2px;
    top:2px;
    width:63px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u9_container {
    position:absolute;
    left:67px;
    top:0px;
    width:125px;
    height:20px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:131px;
    height:26px;
}

.u10 {
    position:absolute;
    left:2px;
    top:2px;
    width:121px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u11_container {
    position:absolute;
    left:192px;
    top:0px;
    width:141px;
    height:20px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:147px;
    height:26px;
}

.u12 {
    position:absolute;
    left:2px;
    top:2px;
    width:137px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../1_1_1_Zapchast_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:22px;
    top:0px;
    width:1263px;
    height:196px;
}

#u13_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1263px;
    height:196px;
}

.u14 {
    position:absolute;
    left:2px;
    top:90px;
    width:1259px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../1_1_1_Zapchast_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:66px;
    top:321px;
    width:250px;
    height:250px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:256px;
    height:256px;
}

.u16 {
    position:absolute;
    left:2px;
    top:117px;
    width:246px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../1_1_1_Zapchast_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:780px;
    top:321px;
    width:180px;
    height:80px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:86px;
}

.u18 {
    position:absolute;
    left:2px;
    top:32px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:67px;
    top:865px;
    width:393px;
    height:35px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#949494;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u20 {
    position:absolute;
    left:470px;
    top:865px;
    width:100px;
    height:35px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u21 {
    position:absolute;
    left:780px;
    top:275px;
    width:180px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../1_1_1_Zapchast_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:1159px;
    top:250px;
    width:91px;
    height:25px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:31px;
}

.u23 {
    position:absolute;
    left:2px;
    top:4px;
    width:87px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:344px;
    top:321px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:340px;
    top:424px;
    width:85px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:425px;
    top:420px;
    width:43px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u27 {
    position:absolute;
    left:340px;
    top:351px;
    width:92px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:505px;
    top:420px;
    width:150px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u29 {
    position:absolute;
    left:66px;
    top:604px;
    width:180px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:66px;
    top:638px;
    width:250px;
    height:196px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../1_1_1_Zapchast_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:340px;
    top:515px;
    width:405px;
    height:56px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:411px;
    height:62px;
}

.u32 {
    position:absolute;
    left:2px;
    top:12px;
    width:401px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:340px;
    top:476px;
    width:90px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:340px;
    top:638px;
    width:250px;
    height:196px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:340px;
    top:387px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../1_1_1_Zapchast_files/u36_normal.png');
}

.u36_container {
    position:absolute;
    left:425px;
    top:390px;
    width:10px;
    height:10px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u37 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../1_1_1_Zapchast_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:442px;
    top:390px;
    width:10px;
    height:10px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u39 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../1_1_1_Zapchast_files/u38_normal.png');
}

.u40_container {
    position:absolute;
    left:458px;
    top:390px;
    width:10px;
    height:10px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u41 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u42 {
    position:absolute;
    left:442px;
    top:361px;
    width:101px;
    height:26px;
    overflow:hidden;
}

#pd2u42 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:26px;
    
}

.u43_normal {
    background-image: url('../1_1_1_Zapchast_files/u43_normal.png');
}

.u43_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:25px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u44 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u42 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:26px;
    
}

.u45_normal {
    background-image: url('../1_1_1_Zapchast_files/u43_normal.png');
}

.u45_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:25px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u46 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u42 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:26px;
    
}

.u47_normal {
    background-image: url('../1_1_1_Zapchast_files/u43_normal.png');
}

.u47_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:25px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u48 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../1_1_1_Zapchast_files/u49_normal.png');
}

.u49_container {
    position:absolute;
    left:1051px;
    top:320px;
    width:180px;
    height:80px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:86px;
}

.u50 {
    position:absolute;
    left:2px;
    top:16px;
    width:176px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:1000px;
    top:353px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:1082px;
    top:410px;
    width:116px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

